/* color schemes */
    /*standard*/
        :root {
            --body-color: #000000;
            --body-bg-color: #fffff0;
            --accent-color: #698F3F;
            --dark-color: #004643;
            --link-color: #698F3F;
            --navbar-color: #698F3F;
            --navbar-link: #fffff0;
            --footer-color: #698F3F;
            --body-font:'jd';
            --header-font:'portfolio';
            --navlink-font:'portfolio';
        }
    /*winter
        :root {
            --body-color: #000000;
            --body-bg-color: #fffff0;
            --accent-color: #698F3F;
            --dark-color: #004643;
            --link-color: #698F3F;
            --navbar-color: #698F3F;
            --navbar-link: #fffff0;
            --footer-color: #698F3F;
            --body-font:'jd';
            --header-font:'portfolio';
            --navlink-font:'portfolio';
        }*/


/* basics */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Portfolio-regular.ttf');
}
@font-face {
    font-family: 'paquito';
    src: url('/fonts/Paquito.ttf');
}
@font-face {
    font-family: 'jd';
    src: url('/fonts/jd.ttf');
}
@font-face {
    font-family: 'comic sans';
    src: url('/fonts/Comic Sans MS.ttf');
}
@font-face {
    font-family: 'newspaper';
    src: url('/fonts/newspaper.ttf');
}
::selection { 
    color: var(--body-bg-color);
    background-color:var(--accent-color);
}
li::marker {font-size:1rem; color:var(--dark-color)}
body {
    font-family: var(--body-font);
    font-weight:800;
    margin: 0;
    background-color: var(--body-bg-color);
    color: var(--body-color);
    font-size:2em;
    word-break:break-all;
}
* {
    box-sizing: border-box;
}

#header, .header {
    width: 100%;
    background-color: var(--header-color);
    height: 150px;
}
#headerarea { 
    width:150%;
}
@media only screen and (min-width: 900px) {
#container {
    width: 1200px;
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    min-height: 100%;
}
#flex {
    display: flex;
        flex-wrap: wrap;
}

main {
    flex: 1;
    padding: 20px;
    order: 2;
     margin:auto;
     width:50%;
     height: auto;
}
*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}
aside {
    width:200px;
    padding:20px;
}
footer {
    background-color: transparent;
    color: var(--accent-color);
    width: 100%;
    height: 70px;
    padding: 5px;
    text-align: center;
    margin:auto;
    order:4;
}

/* text styling */
p {margin-top:0;}
small { font-size: 0.5em;}
h1,
h2 {
    color: var(--accent-color);
    font-family:var(--header-font);
}
h1 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top:15px;
    text-align: center;
}
h2 { margin-top: 0;}
.h2 {
    color:var(--dark-color);
    font-family:'portfolio';
    text-decoration: underline dotted 4px;
    margin-bottom:5px;
}
strong, b {
    color: var(--accent-color);
}
aside > h1 { font-size:1em;}

/* link styling */
a {
    color: var(--link-color);
    font-weight: bold;
    text-transform:uppercase;
    text-decoration:none;
}
a:hover {
    color: var(--link-color);
    font-weight: bold;
    text-transform:uppercase;
    text-decoration:underline;
}
a:visited { color:var(--link-color);}
a.inactive { text-decoration:line-through 2px !important; opacity:50%;}
            
.post a { text-decoration:none;
    font-family:var(--navlink-font);}
.post a:hover { text-decoration:none;}

h1 a {
    color: var(--link-color);
    text-decoration:none;
    cursor:pointer;
}
h1 a:hover {
    color: var(--link-color);
    text-decoration:none;
    cursor:pointer;
}

.h2 a {
    color:var(--dark-color);
    font-family:'portfolio';
    text-decoration: none;
    margin-bottom:5px;
}
#navbar li a {
    color: var(--navbar-link);
    font-family:'portfolio';
    font-weight: 800;
    text-decoration: none;
    font-size:20px;
}
aside a { 
    font-family:var(--body-font);
}

footer a {
    color: var(--navbar-link;);
    text-decoration: none;
    text-transform: lowercase;
}
footer a:hover {
    color: var(--navbar-link;);
    text-decoration: underline;
    text-transform: lowercase;
}

/* img styling */
.gallery img {
  display:inline-block;
  height:300px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

/* nav styling */
#navbar {
    height: 40px;
    background-color: var(--navbar-color);
    width: 100%;
}
#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}
#navbar li {
    padding-top: 10px;
}


/* img & text boxes */
.post {
     margin: auto;
     display:block;
     text-align:left;
     width:70%;
     overflow-y: scroll;
     overflow-x: hidden;
}
.post .p, .indents, .indents2 {
     color:var(--body-color);
     overflow-y: scroll;
     max-width:450px;
     text-align:left;
     padding-left:15px;
}
    .indents, .indents2 { border-left: 3px dotted var(--dark-color);margin-left:15px;}
.post img {
     float:left;
     margin-right:5px;
     display: inline-block;
    width:40%;
}
.p { 
    height:220px; 
    overflow-y:scroll; 
    display: inline-block;
}
figure { 
    display:inline-block; 
    margin:10px;
}

/* link hover GROEN */
.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--accent-color);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr:hover:before, .hvr:focus:before, .hvr:active:before {
  right: 0;
}

/* link hover DONKERGROEN*/
.h2hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.h2hvr:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--dark-color);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.h2hvr:hover:before, .h2hvr:focus:before, .h2hvr:active:before {
  right: 0;
}

/* link hover MAIN GROEN*/
.hvr3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr3:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--navbar-link);
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr3:hover:before, .hvr3:focus:before, .hvr3:active:before {
  right: 0;
}
}

/* mobile */
/* BELOW THIS POINT IS MEDIA QUERY */
/* so you wanna change the width of your page? by default, the container width is 900px. in order to keep things responsive, take your new width, and then subtrack it by 100. use this new number as the "max-width" value below */


@media only screen and (max-width: 900px) {
 #container {
     max-width: 100%;
     margin: 0 auto;
     min-height:100%;
}
#flex {
    display: flex;
        flex-wrap: wrap;
}
    aside {
        width: 100%;
        position:relative;
    }

    #navbar ul {
        flex-wrap: wrap;
    }

    .post img {
         float:left;
         margin-right:5px;
         margin-bottom: 10px; 
         display: inline-block;
         order: 1;
         float:none;
         width:80%;
    }

main {
    flex: 1;
    padding: 20px;
    order: 2;
     margin:auto;
     width:50%;
     height: auto;
}
*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}
footer {
    background-color: transparent;
    color: var(--accent-color);
    width: 100%;
    height: 70px;
    padding: 5px;
    text-align: center;
    margin:auto;
    order:4;
}

/* text styling */
p {margin-top:0;}
small { font-size: 0.5em;}
h1,
h2 {
    color: var(--accent-color);
    font-family:var(--header-font);
}
h1 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top:15px;
    text-align: center;
    padding-left:10px;
        padding-right:10px;
}
h2, h3 { margin-top: 0;}
.h2 {
    color:var(--dark-color);
    font-family:'portfolio';
    text-decoration: underline dotted 4px;
    margin-bottom:5px;
    margin-top:0;
}
strong, b {
    color: var(--accent-color);
}
aside > h1 { font-size:1em;}

/* link styling */
a {
    color: var(--link-color);
    font-weight: bold;
    text-transform:uppercase;
    text-decoration:none;
}
a:hover {
    color: var(--link-color);
    font-weight: bold;
    text-transform:uppercase;
    text-decoration:underline;
}
a:visited { color:var(--link-color) !important;}
a.inactive { text-decoration:line-through 2px !important; opacity:50%;}
            
.post a { text-decoration:none;
    font-family:var(--navlink-font);
    font-size: 2rem;}
.post a:hover { text-decoration:none;
    font-size: 2rem;}

h1 a {
    color: var(--link-color);
    text-decoration:none;
    cursor:pointer;
}
h1 a:hover {
    color: var(--link-color);
    text-decoration:none;
    cursor:pointer;
}

.h2 a {
    color:var(--dark-color);
    font-family:'portfolio';
    text-decoration: none;
    margin-bottom:5px;
}

#navbar li a {
    color: var(--navbar-link);
    font-family:'portfolio';
    font-weight: 800;
    text-decoration: none;
    font-size: 2rem;
}
aside a { 
    font-family:var(--body-font);
}

footer a {
    color: var(--navbar-link;);
    text-decoration: none;
    text-transform: lowercase;
}
footer a:hover {
    color: var(--navbar-link;);
    text-decoration: underline;
    text-transform: lowercase;
}
.indents2 a { text-transform:lowercase !important; }

/* img styling */
.gallery img {
  display:inline-block;
  height:300px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

/* nav styling */
#navbar {
    height: 40px;
    background-color: var(--navbar-color);
    width: 100%;
}
#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}
#navbar li {
    padding-top: 10px;
}


/* img & text boxes */
.post {
     margin: auto;
     display:block;
     text-align:left;
     width:90%;
     overflow-y: scroll;
     overflow-x: hidden;
}
.post .p, .indents, indents2 {
     color:var(--body-color);
     overflow-y: scroll;
     max-width:450px;
     text-align:left;
     padding-left:5px;
}
.post img {
     float:left;
     margin:0;
     display: inline-block;
}
.p { 
    height:220px; 
    overflow-y:scroll; 
    display: inline-block;
}
figure { 
    display:inline-block; 
    margin:10px;
}

/* link hover GROEN */
.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--accent-color);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr:hover:before, .hvr:focus:before, .hvr:active:before {
  right: 0;
}

/* link hover DONKERGROEN*/
.h2hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.h2hvr:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--dark-color);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.h2hvr:hover:before, .h2hvr:focus:before, .h2hvr:active:before {
  right: 0;
}

/* link hover MAIN GROEN*/
.hvr3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr3:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--navbar-link);
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr3:hover:before, .hvr3:focus:before, .hvr3:active:before {
  right: 0;
}
}