:root {
    --bg: #ffffff;
    --body: #000000;
    --accent:#ff0000;
    --transparant:#ff000057;
}
::selection {background-color: var(--transparant);}
.border { border:1px solid var(--body);}
.noborder { border:none !important;}
.nomargin {margin:0 !important;}
.center { margin:0 auto !important;}
.nopadding {padding:0 !important;}
.questionpt {cursor:help;}
.justify {text-align: justify;text-align-last: justify;-moz-text-align-last: justify;}
.sticky {position:sticky;top:10px;background-color: var(--bg);}
body {
    margin: 0 auto;
    font-family:monospace;
    width:99%;
    font-size:16px;
    box-sizing: border-box;
}   
main, header {
    margin-bottom:15px;
    margin-top:15px !important;
}
.nav {
    margin:0 auto;
    margin-bottom:15px;
    margin-top:15px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:15px;
    width:22%;
    border: 1px solid var(--body); 
    gap:15px;
}
nav a { 
    text-transform: uppercase;
    color: var(--accent);
    font-size:1.4rem;
    margin-bottom:10px;
}
nav a:hover { 
    background-color: var(--accent);
    color: var(--bg);
    text-decoration: none;
}
a:hover {font-style: italic;text-transform: uppercase;}

p {margin-top:0;}
u {text-decoration: underline 1.5px solid var(--body);}
s {text-decoration: line-through 1.5px solid var(--body);}
.indents { 
    border-left: 3px dotted var(--body);
    padding-left:15px;
    margin-left:15px;
}
.new::after {
    content:"NEW!";
    font-size:0.7rem;
    background-color:var(--body);
    color:var(--bg);
    padding:0.25em;
    border-radius:5px;
    margin-bottom:0.5em;
    line-height:1;
    font-weight:normal;
    margin-left:.625em;
    position:relative;
    top:-0.125em;
    font-style:normal;
}
.check::after {
  content: '✓';
  margin-left:0.5em;
  color:var(--accent) ;
}
img {max-width:100%;}

h1 {
    font-size:4em;
}

@media only screen and (max-width:1000px) {
    body {
        padding:5px;
        font-size:17px;
    }
    .nav {
        margin:0 auto;
        margin-bottom:15px;
        margin-top:15px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:15px;
        width:80%;
        border: 1px solid var(--body); 
        gap:15px;
    }
    figure {
        margin:0;
    }
    figure img {
        padding-top:10px;
    }
    a {
        color:var(--accent);
    }
    a::selection {background-color: var(--transparant);color:var(--body);}
}
@media only screen and (max-width:800px) {
    body, main {
        width:100%;
    }
    h1 {
        font-size:4em;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}