:root {
	--text: #000;
	--link: #ff0000;
	--line: #ff0000;
	--accent: #69abd6;
	--nav:  red;
	--mainbg: #fff;
	/*--navbg: url(/misc/aroace/Aroace_flag.png);*/
	--fill: #fff;
	--selection: #ff00009a;
}
/*:root {
	--text: #244061;
	--link: #e39200;
	--line: #69abd6;
	--accent: #eecc15;
	--nav: #fff;
	--mainbg: #fff;
	--navbg: url(/misc/aroace/Aroace_flag.png);
	--fill: #fff;
}
palettes
summer y -- red: #cc2132 / orange: #e6692a / yellow: #ed9530 / white: #e9bd96 / green: #988a20 / lightblue: #34685c / darkblue: #1e404f
aroace flag: dark orange: #e39200 / yellow: #eecc15 / white: #f1f7e9 / light blue: #69abd6 / dark blue: #244061
*/

body { 
	color: var(--text);
	font-family: 'Courier New', Courier, monospace; 
	text-align: justify;
}
::selection {
    background-color: var(--selection);
    padding:2px;
}
a::selection {
	background-color: #ff00009a;
	color:var(--text);
	padding:2px;
}
nav p::selection, nav a::selection {
	background-color:#000000aa;
	color:var(--fill);
	font-weight: 300;
	padding:2px;
}

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: var(--text) var(--line) }

*::-webkit-scrollbar { width: 20px; }
*::-webkit-scrollbar-track { background: var(--line); }
*::-webkit-scrollbar-thumb { background-color: var(--text); border: transparent; }

img { max-width: 100% }

nav {
	float: left;
	width: 15%;
	height: 100vh;
	position: relative;
	background-color: var(--nav);
	background-image: var(--navbg);
	background-attachment: fixed;
	background-size:contain;
	color:var(--fill);
}
 
nav div {
	height: fit-content;
	width: fit-content;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -1.5vw;
	text-align: right;
}
nav p {
	max-width:14vw;
}
nav a {
	color:var(--fill);
	text-transform: uppercase;
}
.nav {
	display: block;
	margin: 10px 0;
	padding: 0;
	font-size: 2rem;
	text-decoration: none;
	color:var(--fill);
}

a:hover, a:focus {
	text-decoration: underline dashed;
	background-color: transparent;
}

main {
	float:left;
	width: 82%;
	height: 100vh;
	padding: 2em;
	overflow-y: scroll;
	background: var(--mainbg);
	background-attachment: fixed;
	background-size:contain;
}
p { margin-top:0;padding-bottom:10px;}

.container { max-width: 1500px }

section {
	margin: 0;
	padding: 20px;
	background-color: var(--fill);
	border: 2px solid var(--text);
}

.stripe {
	float: left;
	width: 3%;
	height: 100vh;
	background-color: var(--line);
}

hr {
	border: none;
	border-top: 5px solid var(--line);
}

header {
	font-size: 2rem;
	margin-bottom: 2rem;
	color:var(--text);
}

h2, h3, h4, h5, h6, table, details, cite, blockquote, img {
	margin: 1rem 0;
}
h1, h2, h3 {
	font-family: 'monotalic';
}
h3 {
	margin-top:0;
	font-size:1.5rem;
}
ul, ol, dl {
	margin: 1rem 0 1rem 2rem;
}

ul ul, ol ol { 
	margin: 0 0 0 2rem;
}

p, table,  ul, ol, dl {
	font-size: 1rem;
}

a { 
	color: var(--link);
	padding: 2px;
}

h6 { font-size: 1rem; }
h5 { font-size: 1rem; }
h4 { font-size: 1.25rem; }
h3 { font-size: 1.5rem; }
h2 { font-size: 2rem;
	color:var(--text);
	padding: 5px;
}

code, details, pre {
	background-color: var(--bg);
}

details, pre {
	padding: 1em;
}

details p { margin: 1rem 0 1rem 2rem; }

figcaption { 
	text-align: right;
	margin: -0.5em 1em 1em 1em;
	font-size:1rem;
}

footer { 
	font-size: 1rem;
	text-align: center;
	background-color: var(--text); 
	color:var(--fill);
	margin:0;
	margin-top: 20px;
	padding: 15px;
}

.flex-box {
    display:flex;
    flex-wrap:wrap;
    margin: -1em;
	align-items: flex-start;
}

.flex-box section {
	margin: 10px;
}

.full { flex: 1 1 100%;}
.half { flex: 1 1 calc(50% - 2em); }
.third { flex: 1 1 calc(33% - 2em); }
.twothird { flex: 1 1 calc(66% - 2em); }
.quarter { flex: 1 1 calc(25% - 2em); }
.threequarter { flex: 1 1 calc(75% - 2em); }

dl {
	margin:0;
}
dd {
	margin-left:20px;
	padding-bottom:15px;
}

.noborder {
	border:none !important;
}
.img {
	padding:0; 
	margin:0;
	border:none;
}

@media screen and (max-width: 800px){

	nav, main, .stripe {
		float: none;
		width: 100%;
		height: fit-content;
	}
	
	nav { padding: 2vw }
	
	nav div {
		height: fit-content;
		width: 100%;
		position: static;
		-ms-transform: translateY(0);
		transform: translateY(0);
		text-align: right;
	}
	
	nav img {
		z-index: -1;
		position: absolute;
		left:0;
		max-height: 100%;
	}
	
	nav a {
		display: inline-block;
		margin: 5px;
	}
	
	nav a::after { 
		content: " ↗"; 
	}
	
	main { 
		overflow: auto;
		padding: 2em 1em;
	}
	
	header { 
		text-align: center;
		font-size: 1.5em;
	}
	
	section { padding: 0 1em; }
	
	.stripe { height: 30px; }
	
	*::-webkit-scrollbar { width: 10px; }
	
}