@media (prefers-color-scheme: dark){
:root {
    --bg: #000;
    --link:#D655B8;
    --accent:#0896E8;
    --font:#F0E7EF;
    --special:#F2BD10;
}
}@media (prefers-color-scheme: light){
:root {
    --bg: #F0E7EF;
    --link:#0896E8;;
    --accent:#E5188E;
    --font:#000;
    --special:#DFA61F;
}
}
@font-face { 
    font-family: 'Comic Sans MS';
    src: url('/fonts/Comic Sans MS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
    .pc { display:block;} 
    .mobile {display:none;}
body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	background: var(--bg);
	color: var(--font);
	font-family: 'Comic Sans MS';
	box-sizing: border-box;
}
.page h1:first-child {
	margin-top: 0;
}
b, i, u {color:var(--special)}

.page {
	padding: 24px;
	overflow-y:scroll;
	overflow-x:hidden;
}

img {
	max-width: 100%;
}

a {
	color: var(--link);
}

.avatar {
	width: 200px;
	height: 200px;
}

.member img {
  float:left;
  width:100px;
  height:100px;
  border-radius:50%
}

.wrapper {
	position: relative;
	top: 50%;
	margin: auto;
	margin-top: -200px;
	width: 850px;
	height: 400px;
}

.sidebar {
	float: left;
	width: 200px;
	height: 100%;
}

.main {
	float: right;
	width: 630px;
	height: 100%;
	border: 3px double var(--accent);
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y:scroll;
}

.menu {
	padding: 24px;
	text-align: center;
}

.menu a {
	display: inline-block;
	padding: 3px 6px;
	color: var(--accent);
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 500;
	text-transform: lowercase;
	letter-spacing: 1px;
}

.menu a:hover {
	background: var(--link);
	color: var(--bg);
	text-decoration:underline;
}

h1, h2, h3, h4 {
	color: var(--special);
}

h1 {
	font-size: 20px;
	background: var(--accent);
	color: var(--bg);
	display: inline-block;
	padding: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	border-bottom: 1px dashed var(--accent);
	padding-bottom: 4px;
}

figure {
display: inline-block;
    padding:0;
    margin:0;
    width:150px;
}

.imgtxt {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: relative;
}
.imgtxt span {
  opacity: 0;
  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-size: 15px;
  color: #FFF;
  filter: drop-shadow(1px 1px 0 black) 
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);
}
.imgtxt:hover span, .imgtxt:focus span {
  opacity: 1;
}
.imgtxt:hover img, .imgtxt:focus img {
  filter: grayscale(100%);
  }
.imgtxt img, .imgtxt img {
  filter: grayscale(0%);
    }
    

.left {float:left; width:40%;}
.right {float:right; width:55%;}    

/*mobile*/

@media only screen and (max-width: 900px) {
    .pc { display:none;} 
    .mobile {display:block;}
body, html {
	padding: 0;
	margin: 0;
	background: var(--bg);
	color: var(--font);
	font-family: 'Comic Sans MS';
	box-sizing: border-box;
	height:100vh;
	width:100vw;
}
.wrapper {
	margin: auto;
    top:10px;
	width: 95vw;
	height:100Vh;
	padding:15px;
    display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
	position:absolute;
	justify-content: center;
}
.sidebar {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:95vw;
    margin-bottom:15px;
}
.avatar {
	display:none;
}
.menu {
	text-align: center;
    float:none;
	margin:auto;
	margin-top:0;
	margin-bottom:0;
	width:90vw;
}
.menu a {
	display: inline-block;
	padding: 3px 6px;
	color: var(--accent);
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 500;
	text-transform: lowercase;
	letter-spacing: 2px;
}
.menu a:hover {
	background: var(--link);
	color: var(--bg);
	text-decoration:underline;
}

.main {
	border: 3px double var(--accent);
	overflow-x: show;
	overflow-y:show !important;
	width:92vw;
	height:200vh;
	float:none;
}
.page {
	padding: 10px;
	overflow-y:show !important;
	overflow-x:hidden;
	width:90vw;
}
.page h1:first-child {
	margin-top: 0;
}

a {
	color: var(--link);
}
b, i, u {color:var(--special)}

h1, h2, h3, h4 {
	color: var(--special);
}
h1 {
	font-size: 20px;
	background: var(--accent);
	color: var(--bg);
	display: inline-block;
	padding: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	border-bottom: 1px dashed var(--accent);
	padding-bottom: 4px;
}

figure {
	display: inline-block;
    padding:0;
    margin:0;
    width:150px;
}

.imgtxt {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: relative;
}
.imgtxt span {
	display:none;
}
.imgtxt:hover span, .imgtxt:focus span {
  opacity: 1;
}
.imgtxt:hover img, .imgtxt:focus img {
  filter: grayscale(0%);
  }
.imgtxt img, .imgtxt img {
  filter: grayscale(0%);
  }
    
.left {flex:2; width:100%;}
.right {flex:1; width:100%;}   
}