/* color schemes */
    /*standard*/
        :root {
            --body-color: #000000;
            --body-bg-color: #ffffff;
            --accent-color: red;
            --dark-color: black;
            --link-color: red;
            --navbar-color: black;
            --navbar-link: red;
        }
/* basics */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Portfolio-regular.ttf');
}
@font-face {
    font-family: 'paquito';
    src: url('/fonts/Paquito.ttf');
}
@font-face {
    font-family: 'jd';
    src: url('/fonts/jd.ttf');
}
@font-face {
    font-family: 'comic sans';
    src: url('/fonts/Comic Sans MS.ttf');
}
@font-face {
    font-family: 'newspaper';
    src: url('/fonts/newspaper.ttf');
}
::selection { 
    color: var(--body-bg-color);
    background-color:var(--accent-color);
}
li::marker {font-size:1rem; color:var(--body-color)}
body {
    font-family:'courier';
    font-weight:800;
    margin: 0;
    background-color: var(--body-bg-color);
    color: var(--body-color);
    font-size:1em;
    word-break:keep-all;
}
* {
    box-sizing: border-box;
}

#header, .header {
    width: 100%;
    height: 150px;
}
#headerarea { 
    width:150%;
}

@media only screen and (min-width: 900px) {
    #container {
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }
    #flex {
        display: flex;
            flex-wrap: wrap;
    }
    
    main {
        flex: 1;
        padding: 20px;
        order: 2;
         margin:auto;
         width:50%;
         height: auto;
    }
    #leftSidebar {
        order: 1;
    }
    
    #rightSidebar {
        order: 3;
    }
    aside {
        width:200px;
        padding:20px;
    }
    footer {
        background-color: transparent;
        color: var(--body-color);
        width: 100%;
        height: 70px;
        padding: 5px;
        text-align: center;
        margin:auto;
        order:4;
    }
    
    /* text styling */
    p {margin-top:0;}
    small { font-size: 0.5em;}
        
    h1 {
        font-size: 2em;
        margin-bottom: 0;
        margin-top:15px;
        text-align: center;
    }
    h2 { margin-top: 0;}
    .h2 {
        color:var(--dark-color);
        text-decoration: underline dotted 4px;
        margin-bottom:5px;
    }
    strong, b {
        color: var(--accent-color);
    }
    aside > h1 { font-size:1em;}
    
    /* link styling */
    a {
        color: var(--link-color);
        font-weight: bold;
        text-decoration:none;
    }
    a:hover {
        text-transform:uppercase;
        text-decoration:underline;
    }
    a.inactive { text-decoration:line-through 2px !important; opacity:50%;}
    
    
    h1 a {
        color: var(--body-color);
        text-decoration:none;
        cursor:pointer;
    }
    h1 a:hover {
        color: var(--body-color);
        cursor:pointer;
        text-transform:none;
    }
    
    .h2 a {
        color:var(--dark-color);
        text-decoration: none;
        margin-bottom:5px;
    }
    aside a { 
        font-family:var(--body-font);
    }
    
    footer a {
        color: var(--navbar-link);
        text-decoration: none;
        text-transform: lowercase;
    }
    footer a:hover {
        color: var(--navbar-link);
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    /* img styling */
    .gallery img {
      display:inline-block;
      height:300px;
      float: center;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }
    
    /* nav styling */
    #navbar {
        height: 40px;
        background-color: var(--navbar-color);
        width: 100%;
    }
    #navbar ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        justify-content: space-evenly;
    }
    #navbar li {
        padding-top: 10px;
    }
    
    
    /* img & text boxes */
    .post {
         margin: auto;
         display:block;
         text-align:left;
         width:70%;
         overflow-y: scroll;
         overflow-x: hidden;
    }
    .post .p, .indents, .indents2 {
         color:var(--body-color);
         overflow-y: scroll;
         max-width:450px;
         text-align:left;
         padding-left:15px;
    }
        .indents, .indents2 { border-left: 3px dotted var(--dark-color);margin-left:15px;}
    .post img {
         float:left;
         margin-right:5px;
         display: inline-block;
        width:40%;
    }
    .p { 
        height:220px; 
        overflow-y:scroll; 
        display: inline-block;
    }
    figure { 
        display:inline-block; 
        margin:10px;
    }
}
/* mobile */
@media only screen and (max-width: 900px) {
    #container {
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }
    #flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    main {
        flex: 1;
        padding: 20px;
        order: 2;
         margin:auto;
         width:50%;
         height: auto;
    }
    #leftSidebar {
        order: 1;
    }
    
    #rightSidebar {
        order: 3;
    }
    aside {
        width:200px;
        padding:20px;
    }
    footer {
        background-color: transparent;
        color: var(--body-color);
        width: 100%;
        height: 70px;
        padding: 5px;
        text-align: center;
        margin:auto;
        order:4;
    }
    
    /* text styling */
    p {margin-top:0;}
    small { font-size: 0.5em;}
    h1 {
        font-size: 2em;
        margin-bottom: 0;
        margin-top:15px;
        text-align: center;
    }
    h2 { margin-top: 0;}
    .h2 {
        color:var(--dark-color);
        text-decoration: underline dotted 4px;
        margin-bottom:5px;
    }
    strong, b {
        color: var(--accent-color);
    }
    aside > h1 { font-size:1em;}
    
    /* link styling */
    a {
        color: var(--link-color);
        font-weight: bold;
        text-decoration:none;
    }
    a:hover {
        text-transform:uppercase;
        text-decoration:underline;
    }
    a.inactive { 
      text-decoration:line-through 2px !important; 
      opacity:50%;
      }
    
    h1 a {
        color: var(--body-color);
        text-decoration:none;
        cursor:pointer;
    }
    h1 a:hover {
        color: var(--body-color);
        cursor:pointer;
        text-transform:none;
    }
    
    .h2 a {
        color:var(--dark-color);
        text-decoration: none;
        margin-bottom:5px;
    }
    aside a { 
        font-family:var(--body-font);
    }
    
    footer a {
        color: var(--navbar-link);
        text-decoration: none;
        text-transform: lowercase;
    }
    footer a:hover {
        color: var(--navbar-link);
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    /* img styling */
    .gallery img {
      display:inline-block;
      height:300px;
      float: center;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }
    
    /* nav styling */
    #navbar {
        height: 40px;
        background-color: var(--navbar-color);
        width: 100%;
    }
    #navbar ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        justify-content: space-evenly;
    }
    #navbar li {
        padding-top: 10px;
    }
    
    /* img & text boxes */
    .post .p, .indents, .indents2 {
         color:var(--body-color);
         overflow-y: scroll;
         max-width:450px;
         text-align:left;
         padding-left:15px;
         border-left: 3px dotted var(--dark-color);
         margin-left:15px;
    }
    figure { 
        display:block; 
        margin:auto;
        padding:5px;
    }
}